// Colors from https://www.colourlovers.com/palette/1/metro

$lovers-gray: #515151;
$metro-blue: #00B4FF;
$q-white: #EEE;
$white: white;

// Semantic Colors

$accent-color: $metro-blue;

$background-color-primary: $q-white;
$background-color-secondary: $lovers-gray;

$text-color-primary: $lovers-gray;
$text-color-secondary: $white;
